fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
faiss-cpu
sentence-transformers
pypdf
docx2txt
pandas
openpyxl
xlrd